.red {
  color: #ea212d !important;
}
.gray {
  color: #666666 !important;
}
.login-page-title {
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 10px !important;
  margin-bottom: 0 !important;
}
.login-page-sub-title {
  font-size: 16px;
}
form.login-form {
  margin-top: 30px;
}
.login-submit {
  background-color: #ea212d;
  border-color: #ea212d;
  border-radius: 2px;
}
.input-group-addon {
  border-radius: 2px;
}
.login-submit:hover {
  color: #666666;
  border-color: #666666;
}
form.login-form input.form-control {
  border-radius: 0 2px 2px 0 !important;

}
form.login-form input.form-control:focus {
  border-color: #666666;
}
form.login-form .form-group {
  margin-bottom: 20px;
}
label.login-error {
  color: #ea212d;
}
p.logged-out-msg {
  margin-top: 5px;
  color: #28a745;
}
a.logo-title {
  color: #666666 !important;
  text-decoration: none;
  letter-spacing: -0.2px;
}
span.sub-title {
  font-size: 11px;
  letter-spacing: 0.6px;
  position: relative;
  top: -7px;
  font-weight: 400;
}
.admin-menu-icon {
  font-size: 28px;
  width: 28px;
  height: 32px;
  display: block;
  margin: 0 auto 2px;
}
.my-container {

}
.my-container .heading {
  color: #ea212d;
}
.my-container .widget-btn {
  letter-spacing: 0.5px;
  border-radius: 2px;
  padding: 5px 30px;
  background-color: #666666 !important;
  border-color: #666666 !important;
}
.my-container .widget-btn:hover {
  /*background-color: #fff !important;*/
  /*border-color: #666666 !important;*/
  color: #fff;
}
.my-container .form-control {
  border-radius: 2px;
}
.my-container .form-control:focus {
  border-color: #666666 !important;
}
.my-widget-content {
  padding: 0 15px;
}
.widget-alert {
  padding-left: 0;
}
.widget-alert-wrapper {
  margin: 0 15px !important;
}
.my-widget-alert {
  padding: 7px;
  border-radius: 2px;
  margin-bottom: 0;
  margin-top: 10px;
}
.model-widget-alert {
  padding-right: 5px;
}
.my-form-error {
  color: red;
  font-size: 13px;
}
form.add-variant .form-group {
  margin-bottom: 0;
}
.variant-widget-alert {
  padding-right: 0;
}
.main-body-wrapper {
  padding-bottom: 30px;
}
.my-container table th {
  text-transform: uppercase;
  font-size: 13px;
}
.my-container table td {
  font-size: 13px;
  letter-spacing: -0.2px;
}
a.record-edit {
  color: #468847;
}
a.record-delete {
  color: #b94a48;
}
.products-tile {
  min-height: 100px !important;
}
.product-form .row + .row {
  margin-top: 0;
  margin-bottom: 0;
}
.nav-tabs>li>a {
  margin-left: 19px;
  color:#666666;
}
.nav-tabs>li.active>a {
  color:#EA212D;
}
.sub-menu-wrapper {
  position: relative;
  margin-left: 82px;
  top: -36px;
}
.sub-menu {
  position: absolute;
  background-color: #fff;
  left: 101px;
  list-style: none;
  padding-left: 0;
  border: 1px solid #e2e2e2;
  border-left: 0;
}
.sub-menu li {
  padding: 5px 0;
  min-width: 180px;
}
.sub-menu li a {
  text-transform: uppercase;
  color: #666666;
  font-size: 10px;
  padding: 7px 20px;
}
.sub-menu li a:hover {
  color: #ea212d;
}
.sub-menu li a .fa{
  display: inline;
}
.fa.sub-menu-arrow {
  float: right;
  font-size: 12px;
}
.sub-menu-wrapper {
  display: none;
}
a.sub-menu-parent-item:hover + .sub-menu-wrapper{
  display: block;
}
.sub-menu-wrapper:hover {
  display: block;
}
.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.product-alerts {
  padding-top: 5px;
}
a.current .caret {
  border-top-color: #ea212d !important;
}
table.safety-list-tbl th {
  font-size: 9px !important;
}
table.safety-list-tbl th.sorting:before, table.safety-list-tbl th.sorting:after, table.safety-list-tbl th.sorting_asc:before, table.safety-list-tbl th.sorting_asc:after{
  display: none !important;
}
table.safety-list-tbl {
  display: inline-block;
  overflow: scroll;
}
.safety-list-wrapper label, .safety-list-wrapper .dataTables_info, .safety-list-wrapper .dataTables_paginate.paging_full_numbers a {
  font-size: 12px !important;
}