.slider-btn {
  background-color: #ea212d !important;
  color: #fff !important;
}
.slider-btn span {
    background: #fff !important;
    color: #6a6a6a !important;
}
.slider-btn:hover {
  background-color: #fff !important;
  color: #555 !important;
}
.slider-btn:hover span {
  background: #555 !important;
  color: #fff !important;
}
