
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


/* MAIN CSS */
@import url('bootstrap.css');
@import url('font-awesome.min.css');
@import url('theme.css');
@import url('home.css');
/*@import url('home-2.css');*/
@import url('listings.css');
@import url('detail.css');
@import url('compare.css');
@import url('blog.css');
@import url('pages.css');
@import url('submits.css');
@import url('responsive.css');
@import url('animate.css');
@import url('site-colors.css');
@import url('colors-demo.css');
@import url('colors.css');
@import url('custom.css');


/* PLUGIN CSS */
@import url('../plugins/owl-carousel/owl.carousel.css');
@import url('../plugins/owl-carousel/owl.theme.css');
@import url('../plugins/bxslider/jquery.bxslider.css');

